<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style2.scss">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <div class="header">
        <h1>Electronics AND Communication Engineeering</h1>
        <p>SOICT</p>
      </div>
      .wrapper
	header
		#brand
			#logo
			#wordmark
		nav
			a(href="#")
			a(href="#")
			a(href="#")
			a(href="#")
			span
				.bar
	main
		-for(var i=1;i<=4;i++)
			section
				.content
					.heading
					.sub-heading
                    </body>
 
</html>